<!doctype html>
<html lang="en">
  <%- include("./head.ejs") %>
  <body>
    <%- include("./header.ejs"); %>
    <main>
      <% if(user) {%>
      <% if (!user.isMember && !user.isAdmin){ %>
      <fieldset>
        <legend>
          To see the name and timestamp of users, enter pass code.
        </legend>
        <% if(typeof errors !== "undefined") {%>
        <h1>Error:</h1>
        <% for (error of errors) {%>
        <h1><%= error %></h1>
        <% } %>
        <% } %>
        <form method="post" action="/join">
          <label for="member_pass_code">Member Pass Code*:</label>
          <input
            type="text"
            name="member_pass_code"
            id="member_pass_code"
            required
            value="<%= typeof data !== "undefined" && data.member_pass_code ? data.member_pass_code : ""%>"
          />
          <button type="submit">Join</button>
        </form>
      </fieldset>
      <% } %>
      <fieldset>
        <legend>Create new Message</legend>
        <% if(typeof errors !== "undefined") {%>
        <h1>Error:</h1>
        <% for (error of errors) {%>
        <h1><%= error %></h1>
        <% } %>
        <% } %>
        <form method="post" action="/message">
          <label for="message">Message*:</label>
          <textarea
            name="message"
            id="message"
            cols="30"
            rows="10"
            required
          ></textarea>
          <button type="submit">Save message</button>
        </form>
      </fieldset>
      <% } %>
      <% if (messages){ %>
      <div class="messages">
        <% for (message of messages) { %>
        <div class="message">
          <h2><%= message.user ? message.user.fullname : "(author)" %></h2>
          <div>
            <p><%- message.content %></p>
            <time
              ><%= message.timeStamp ?message.timeStamp : "(timestamp)" %></time
            >
          </div>
        </div>
        <% if (typeof user !== "undefined" && user.isAdmin) {%>
        <a href="/message/<%=message.id%>/delete"><button>delete</button></a>
        <% } %>
        <% } %>
      </div>
      <% } %>
    </main>
  </body>
</html>
