<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
  </head>
  <body>
    <%- include("./header.ejs"); %>
    <% if(user) {%>
    <h1>Hello <%= user.fullname %></h1>
    <h1>Email <%= user.email %></h1>
    <fieldset><legend>Create new Message</legend>
      <% if(typeof errors !== "undefined") {%>
        <h1>Error:</h1>
       <% for (error of errors) {%>
        <h1><%= error %></h1>
       <% } %>
      <% } %>  
      <form method="post" action="/message">
        <label for="message">Message</label>
        <textarea name="message" id="message" cols="30" rows="10" required></textarea>
        <button type="submit">Save message</button>
      </form>
    </fieldset>
    <% } %>
    <% if (messages){ %>
      <% for (message of messages) { %>
          <h1> <%= message.content %></h1>
        <% } %>
    <% } %>
  </body>
</html>
